name: KiCad 9 CI & Release

on:
  push:
    branches: [ master ]
    tags:
      - 'v*'    # Example: v0.0.1, v1.2.3
  pull_request:

env:
  SCH_FILE: vgc-zero.kicad_sch
  PCB_FILE: vgc-zero.kicad_pcb

  SYMBOL_LIB: vgc-zero.kicad_sym
  FOOTPRINT_LIB: vgc-zero.pretty

  OUT_SCH_PDF: schematic.pdf
  OUT_GERBERS_DIR: gerbers
  OUT_PCB_IMG: pcb.png

jobs:
  kicad-ci:
    runs-on: ubuntu-latest
    if: github.event_name != 'release'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run KiCad 9 Actions
        uses: actions-for-kicad/kicad-actions@v1.6-k9.0
        with:
          schematic_file_name: ${{ env.SCH_FILE }}
          symbol_libraries: "symbol-library=./${{ env.SYMBOL_LIB }}"
          run_erc: true
          schematic_output_pdf: true

          pcb_file_name: ${{ env.PCB_FILE }}
          footprint_libraries: "footprint-library=./${{ env.FOOTPRINT_LIB }}"
          run_drc: true
          pcb_output_gerbers_and_drill: true
          pcb_output_image: true

      # Upload artifacts for release job
      - name: Upload schematic PDF
        uses: actions/upload-artifact@v4
        with:
          name: schematic
          path: ${{ env.OUT_SCH_PDF }}

      - name: Upload gerbers
        uses: actions/upload-artifact@v4
        with:
          name: gerbers
          path: ${{ env.OUT_GERBERS_DIR }}

      - name: Upload PCB image
        uses: actions/upload-artifact@v4
        with:
          name: pcb-image
          path: ${{ env.OUT_PCB_IMG }}

  release:
    permissions: write-all
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: kicad-ci

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Download artifacts from the build job
      - uses: actions/download-artifact@v4
        with:
          name: schematic
          path: artifacts/schematic
      - uses: actions/download-artifact@v4
        with:
          name: pcb-image
          path: artifacts/pcb-image
      - uses: actions/download-artifact@v4
        with:
          name: gerbers
          path: artifacts/gerbers

      # Create GitHub Release and attach artifacts
      - name: Create Release & Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/schematic/schematic.pdf
            artifacts/pcb-image/pcb.png
            artifacts/gerbers/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
